/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

body, button, input, select, textarea, h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.container.body{
    margin-top:25px;
}

.floor-item{
	min-height: 80px;
}
.floor-item .vote{
    position:absolute;
    width:30px;
    height:41px;
    text-align: center;
}
.floor-item .vote .vote-up{
	font-size: 24px;
	height: 10px;
}
.floor-item .vote .vote-down{
	font-size: 24px;
	height: 10px;
}
.floor-item .vote .vote-down{
	height: 5px;
}
.floor-item .content{
	padding-left: 90px;
}